.Preferences {
  background-color:#fff;
  overflow: hidden;
}

.dietContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.preferencesContainer {
  margin: 10px;
}

.topBg {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.5, rgb(116, 244, 151)),
    color-stop(0.5, #fff)
  );
  position: fixed;
  top: 0px;
  z-index: -1;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}